/* 1.Posicionamiento
2.Modelo de caja
3.Tipografía
4.Efectos visuales
5.Miscelaneos / Otros */

:root {
    /* Colores */
    --bitcoin-orange: #F7931A;
    --soft-orange: #FFE9D5;
    --secondary-blue: #1A9AF7;
    --soft-blue: #E7F5FF;
    --warm-black: #201E1C;
    --warm-black-1: #282623;
    --grey: #BABABA;
    --off-white: #FAF8F7;
    --just-white: #FFFFFF;
}

/* RESETS */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* font resets for REM */

html {
    font-size: 62.5%;
    font-family: "DM Sans", "sans-serif";
    scroll-behavior: smooth;
}

/* header styles */

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

header div.header--title-container {
    width: 90%;
    height: 218px;
    min-width: 288px;
    max-width: 900px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

header div.header--title-container h1 {
    font-weight: bold;   
    font-size: 2.4rem;
    line-height: 26px;
    color: var(--just-white);
    margin-bottom: 25px;
}

header div.header--title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 18px;
    color: var(--soft-orange);
}

header div.header--title-container a.header--button {
    position: absolute; top: 270px; left: calc(50% - 110px);
    margin-top: 35px;
    display: block;
    width: 229px;
    height: 48px;
    font-size: 1.4rem;
    font-weight: bold;
    color: var(--warm-black);
    text-decoration: none;
    padding: 15px;
    background-color: var(--off-white);
    border-radius: 5px;
    box-shadow: 0px 8px 8px rgba(89,73,30,0.16);
    border: none;
}

header div.header--title-container span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("../Assets/Icons/DownArrow.svg");
}

/* Main sections styles */

section.main-exchange-container {
    display: flex;
    width: 100%;
    min-width: 320px;
    height: auto;
    flex-direction: column;
    background-color: var(--off-white);
}

section.main-exchange-container img {
    width: 195px;
    height: 195px;
    margin-top: 80px;
    align-self: center;
}

section.main-exchange-container h2 {
    color: var(--warm-black);
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
    margin-top: 50px;
}

section.main-exchange-container p {
    color: #757575;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-exchange-container--title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

/* tables styles */

.main-currency-table, .main-comissions-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    margin-bottom: 40px;
    font-family: "Inter", "sans-serif";
    text-align: center;
}

.main-comissions-table {
    margin-bottom: 80px;
}

.main-currency-table .main-currency-table--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--bitcoin-orange);
    text-align: center;
}

.main-comissions-table .main-comissions-table--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    color: var(--secondary-blue);
    text-align: center;
}

.currency-table--container, .comissions-table--container{
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;
}

.currency-table--container table, .comissions-table--container table {
    width: 100%;
    height: 100%;
}

.currency-table--container td, .comissions-table--container td {
    width: 50%;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

/* tables trending icons */

.currency-table--container table td.table__right, .comissions-table--container table td.table__right {
    font-size: 1.4rem;
    font-weight: normal;
    line-height: 1.7rem;
    color: #757575;
}

.currency-table--container .table__top-left, .comissions-table--container .table__top-left {
    border-radius: 15px 0 0 0;
}

.currency-table--container .table__top-right, .comissions-table--container .table__top-right {
    border-radius: 0 15px 0 0;
}

.currency-table--container .table__bottom-left, .comissions-table--container .table__bottom-left {
    border-radius: 0 0 0 15px;
}

.currency-table--container .table__bottom-right, .comissions-table--container .table__bottom-right {
    border-radius: 0 0 15px 0;
}

.currency-table--container span.down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("../Assets/Icons/TrendingDown.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.currency-table--container span.up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    background-image: url("../Assets/Icons/Trending-up.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* currency and comissions reloads */

div.comissions-table--date p, div.currency-table--date p {
    margin: 0;
    padding: 0.8rem;
    font-size: 1.2rem;
    font-weight: 300;
    color: var(--warm-black);
}

div.currency-table--date {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 0px;
    width: 17.5rem;
    max-width: 20rem;
    height: auto;
    background-color: var(--soft-orange);
    border-radius: 8px;
}

div.comissions-table--date {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 0px;
    width: 17.5rem;
    max-width: 20rem;
    height: auto;
    background-color: var(--soft-blue);
    border-radius: 8px;
}

/* benefits section */

section.main-benefits--cards-section {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: var(--warm-black);
}

.page-divider--batata-logo {
    position: absolute;
    width: 40px;
    height: 25px;
    top: -10px;
    left: calc(50% - 20px);
    background-image: url("../Assets/Icons/PageDivider.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

section.main-benefits--cards-section div.main-product--title {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 0 auto;
    text-align: center;
}

section.main-benefits--cards-section div.main-product--title h2 {
    font-weight: bold;
    line-height: 2.6rem;
    font-size: 2.4rem;
    color: var(--just-white);
}

section.main-benefits--cards-section div.main-product--title p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin-top: 25px;
    color: #808080;
}

/* cards */

article.product-detail--card {
    width: 100%;
    max-width: 400px;
    height: 170px;
    max-height: 200px;
    margin: 25px auto;
    padding: 15px;
    background-color: var(--warm-black-1);
    border-radius: 6px;
    box-shadow: 0px 8px 8px rgba(0,0,0,0.16);
}

/* cards icons */

article.product-detail--card .card--icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
    background-size: contain;
    background-position: center;
}

article.product-detail--card .clock {
    background-image: url("../Assets/Icons/Clock.svg");
}

article.product-detail--card .eye {
    background-image: url("../Assets/Icons/Eye.svg");
}

article.product-detail--card .dollar-sign {
    background-image: url("../Assets/Icons/DollarSign.svg");
}

article.product-detail--card .check {
    background-image: url("../Assets/Icons/Check.svg");
}

/* cards information */

article.product-detail--card h3 {
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--just-white);
}

article.product-detail--card p {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}

/* image section */

section.bitcoin-image {
    width: 100%;
    min-width: 320px;
    height: 50vh;
    text-align: center;
    background-image: url("../Assets/Images/BitcoinGirlx2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

section.bitcoin-image h2 {
    padding-top: 60px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

/* plans styles */

section.main-plans--container {
    width: 100%;
    min-width: 320px;
    margin: 0 auto;
    padding-bottom: 70px;
    text-align: center;
    background-color: var(--off-white);
}

section.main-plans--container .plans--title {
    width: 90%;
    max-width: 900px;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    
}

section.main-plans--container .plans--title h2 {
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--warm-black);
}

section.main-plans--container .plans--title p {
    margin-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.plans-container-slider--card {
    position: relative;
    scroll-snap-align: center;
    margin: 50px 5px auto;
    width: 70%;
    min-width: 190px;
    max-width: 250px;
    height: 250px;
    padding: 0 15px;
    border-radius: 10px;
    background-color: var(--just-white);
    box-shadow: 0 4px 8px rgba(83, 79, 30, 0.16);
}

.plans-container-slider--card .recomendado {
    position: absolute; left: calc(50% - 50px); top: -15px;
    width: 100px;
    height: 31px;
    padding: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.450rem;
    background-color: var(--bitcoin-orange);
    color: var(--just-white);
    border-radius: 8px;
}

h3.plan-card--title {
    padding-top: 35px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: black;
}

p.plan-card--price {
    font-family: "Inter", "sans-serif"; 
    line-height: 6.3rem;
    font-size: 5.2rem;
    font-weight: bold;
    padding: 5px 0;
    letter-spacing: -3px;
    color: black;
}

p.plan-card--price sup {
    font-size: 1.2rem;
    line-height: 1.45;
    font-weight: 500;
    vertical-align: 30px;
    margin-right: 5px;
}

.plan-card--saving {
    font-family: "Inter", "sans-serif";
    font-size: 1.2rem;
    line-height: 1.45;
    font-weight: 500;
    margin-bottom: 15px;
    color: #757575;
}

.plan-card--call-to-action {
    width: 151px;
    height: 48px;
    margin: 0 auto;
    font-family: "DM Sans", "sans-serif";
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.82rem;
    padding: 10px;
    color: var(--warm-black);
    border-radius: 5px;
    border: var(--bitcoin-orange) 2px solid;
    background-color: var(--off-white);
}

.plan-card--call-to-action span {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    background-image: url("../Assets/Icons/LastOrangeRightArrow.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: -8px;
}

/* slider */

.plans-container--slider {
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.plans-container--slider::-webkit-scrollbar {
    height: 3px;
  }

.plans-container--slider::-webkit-scrollbar-thumb {
    background-color: var(--bitcoin-orange);
}

/* slider tables */

.main-tables-container {
    display: flex;
    height: 450px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}

.main-tables-container::-webkit-scrollbar {
    height: 3px;
  }

.main-tables-container::-webkit-scrollbar-thumb {
    background-color: var(--secondary-blue);
}

.main-comissions-table {
    margin: 0 45px;
}

.main-currency-table {
    margin: 0 45px;
}

/* footer */

footer {
    display: flex;
    width: 100%;
    min-width: 320px;
    height: 150px;
    background-color: var(--bitcoin-orange);
}

footer section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

footer section ul {
    list-style: none;
}

footer section ul li {
    margin: 10px 0;
}

footer section ul a {
    font-family: "DM Sans", "sans-serif";
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: white;
    text-decoration: none;
}