.main-tables-container {
    justify-content: center;
    width: 685px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.main-tables-container::-webkit-scrollbar {
    display: none;
}

.main-comissions-table {
    margin: 0 20px;
}

.main-currency-table {
    margin: 0 20px;
}